a.navlink {
    color: #043a81;
    text-decoration: none;}
a:hover {color:#0f93e3}
a.sitelink:visited {color:#0f93e3;}
body {
    background-color: #b0d5f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2px + 1vw);
    line-height: calc(1px + 1vh);
    margin: auto;
    max-width: 1000px;
    padding: 1% 15%;
    color: #043a81}
div.text-hold {
    background-color: #f0f8ff;
    border: 2px solid #043a81; 
    margin: 3.5% 10%;
    padding: 2%; 
    font-size: calc(5px + 0.5vw);}
footer {text-align: center;}
h1 {font-size: calc(1.5px + 2.1vw);}
h2 {font-size: calc(0.1px + 1.7vw);}
header {
    line-height: calc(1px + 1vh); 
    padding: 2% 5%;}
img.center {
    display: block; 
    margin: auto;; 
    width: 70%}
li.navi {
    display: inline; 
    padding: 1.5%;}
main {
    background-color: #ddedfd;
    border: 2px solid #043a81;
    line-height: calc(2px + 3vh);
    padding: 0 8vw 1vh 8vw;}
nav {
    list-style-type: none; 
    margin: auto; 
    text-align: center;}
span.span-bold {font-weight: bold;}
span.span-italic {font-style: italic;}
p.samples {
    text-align: center;
    text-decoration: underline;}
p.spacer {margin-bottom: calc(5px + 5vh);}
.headings {
    font-variant: small-caps;
    text-align: center;}
.sitelink {
    color:#043a81;
    font-size: calc(1px + 0.8vw);
    line-height: calc(5px + 2vh);
    list-style-type: none;
    text-align: center;}
.top {
    background-color: #ddedfd;
    border: 2px solid #043a81; 
    font-variant: small-caps;
    text-align: center;}
#sitename {font-size: calc(3px + 3vw);}
#sitetag {font-size: calc(1.5px + 1.7vw);}